<li class="lists">
  <span class="content"><%= link_to question.name, question %></span>
  <span class="timestamp">
  	Start time: <%= question.start_time.to_s %>
  	<br>
    End time: <%= question.finish_time.to_s %>
  </span>
  <% if current_user?(question.group.user) %>
    <%= link_to "edit", edit_question_path(question) %>
  <% end %>
</li>