<% if signed_in? %>
  <%= render partial: 'shared/user_groups', locals: {user: current_user} %>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to WeVoteHere</h1>

    <%= link_to "Sign up now!", signup_path, 
        class: "btn btn-large btn-primary" %>
  </div>
<% end %>