<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to <%= link_to "WeVoteHere.com!", root_url %></h1>
    <p>
      Dear <%= @user.pretty_name %>, 
    </p>
    
    <p>You have successfully signed up to WeVoteHere.com. Your can find your profile at <%= link_to @user.email, user_url(@user) %>.</p>
      
    <p>Happy Voting,
      <br>
      The WeVoteHere team</p>
    </p>
  </body>
</html>