<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to WeVoteHere.com!</h1>
    <p>
      Dear <%= @user.pretty_name %>, 
    </p>
    
    <p>You have successfully signed up to WeVoteHere.com. Your handle is <%= link_to @user.handle, @user %>.</p>
      
    <p>Happy Voting,
      <br>
      The WeVoteHere team</p>
    </p>
  </body>
</html>