<ul class="lists">
	<% if group.elections.any? %>
	    <%= render group.elections %>
	<% else %>
	  <li>This group doesn't have any elections yet!</li>
	<% end %>
	<% if edit_group_condition(current_user, group) %>
	  <li><%= link_to "Add a new election", new_group_election_path(group), class: "btn btn-large btn-adjusted-block btn-primary" %></li>
	<% end %>
</ul>