<ul class="lists">
	<% if group.elections.any? %>
	    <%= render group.elections %>
	<% else %>
	  <li>This group doesn't have any elections yet! To add an election, create an election and then add this group to it.</li>
	<% end %>
</ul>