<li>
  	<div style="float: left">
	  	<big><%= link_to group.name, group %></big>
	</div>
	<div class="right">
		<% if edit_group_condition(current_user, group) %>
			<%= link_to "edit", edit_group_path(group) %>
	  	<% else %>
			Owner: <%= link_to group.user.pretty_name, group.user %>
		<% end %>
	</div>
</li>