<div>
	<br>
	<div style="float: left">
			<big><b><%= link_to group.name, group %></b></big>
	</div>
	<% if edit_group_condition(current_user, group) %>
	<div class="right">
		<%= link_to "edit", edit_group_path(group) %>
	</div>
	<% else %>
		<br>
	<% end %>
</div>