<div class="row">
	<h1>Add voters by their email addresses</h1>
	<div class="offset2 span8">
		<%= form_for @group do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			
			<%= f.text_area :emails, value: "", placeholder: "separate voters by commas or spacesFor example, \"wevotehere@gmail.com, bray@duke.edu\" would add two voters." %>

			<%= f.submit "Submit", class: "btn btn-large btn-primary btn-block" %>
		<% end %>
	</div>
</div>