<li class="lists">
  <span class="content">
  		<%= user_email.email %>
  		<% if user.email == user_email.email %>
  			(primary)
  		<% else %>
  			<%= link_to "make primary", make_primary_email_user_path(id: user.id, user_email_id: user_email.id) %>
  		<% end %>
  </span>
</li>