<a href="<%= user_path(current_user) %>">
</a>
<h1>
  <%= current_user.email %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= link_to "edit my profile", edit_user_path(current_user) %>
</span>
<span>
</span>