<a href="<%= user_path(current_user) %>">
</a>
<h1>
  <%= current_user.handle %>
</h1>
<% if current_user.elections.any? %>
	<br>
		<%= link_to "#{current_user.pretty_name}'s elections", elections_user_path(current_user) %>
	<br><br>
	<% current_user.elections.each do |election| %>
		<%= link_to election.name, election %>
		<br>
	<% end %>
<% end %>