<div class="row">
    <aside class="span12">
      <section>
        <div class="row">
          <aside class="span4">
            <ul>
              <%= render user %>
            </ul>
          </aside>
          <div class="span8">
            <% if user.elections.any? %>
                <h3>Elections (<%= user.elections.count %>)</h3>
                <ul>
                  <%= render user.elections %>
                </ul>
            <% end %>
          </div>
        </div>
      </section>
      <section>
      <%= link_to "Create an election", new_election_path, 
                                class: "btn btn-large btn-primary" %>
      </section>
    </aside>
  </div>