<div>
	<big><b>Information</b></big>
  	<div class="timestamp">
		<p>
		<% if edit_election_condition(current_user, election) %>
			<%= link_to "edit election", edit_election_path(election) %>
	  	<% end %>
		Start time: <%= pretty_time(election.start_time) %>
		<br>
		Finish time: <%= pretty_time(election.finish_time) %>
		</p>
	</div>
</div>
<% unless election.info.blank? %>
	<big><b>Voting instructions</b></big>
	<p><%= @election.info %></p>
	<hr>
<% end %>