<li class="lists">
  <span class="content">
  	<%= link_to election.name, election %>
  	<% if edit_election_condition(current_user, election) %>
    	- <%= link_to "edit", edit_election_path(election) %>
  	<% end %>
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(election.created_at) %> ago.
  </span>
</li>