<li>
	<div style="float: left">
		<big><%= link_to election.name, election %></big>
	</div>
	<div class="right">
		<% if current_user == election.user %>
			<%= link_to "edit", edit_election_path(election) %>
	  	<% else %>
	  		Owner: <%= link_to election.user.pretty_name, election.user %>
	  	<% end %>
	</div>
</li>