<% provide(:title, "Invite voters") %>
<div class="row">
	<h1>Invite voters</h1>

	<div class="offset1 span4">
		<div class="center">
			<%= link_to "add entire groups", add_groups_election_path(@election), class: "btn btn-info btn-large" %>
		</div>
	</div>
	<div class="offset2 span4">
		<div class="center">
			<%= link_to "add individual voters", add_voters_election_path(@election), class: "btn btn-info btn-large" %>
		</div>
	</div>
</div>