<% provide(:title, "Results for election: #{@election.name}") %>
<h1>Results for election: <%= link_to @election.name, @election %></h1>
<hr>
<div class="span4">
	<div class="center">
		<big><b>Election owner</b></big>
		<hr>
	</div>	
	<%= render partial: 'users/full_user', locals: {user: @election.user} %>
	<%= render partial: 'eligible_groups', locals: {election: @election} %>
</div>
<div class="offset1 span6">
	<div>
		<% unless @results_array %>
			<p><big><b>This election has not yet started.</b></big></p>
		<% else %>
			<% if @election.finish_time > Time.now %>
				<p><big><b>This election is in progress. Current results:</b></big></p>
			<% else %>
				<p><big><b>This election has ended. Final results:</b></big></p>
			<% end %>
			<ul class="lists">
				<% @results_array.each_with_index do |result, index| %>
					<%= render partial: 'result', locals: {index: index, result: result} %>	
				<% end %>
			</ul>
		<% end %>
	</div>
</div>