<% provide(:title, @election.name) %>

<div class="row">
    <aside class="span4">
      <section>
        <h3>Owner</h3>
        <ul class="lists">
          <%= render @election.user %>
        </ul>
      </section>
      <section>
        <h3>Election</h3>
        <p><%= render partial: "election_info", locals: {:election => @election} %></p>
      </section>
    </aside>
    <aside class="span7">
      <% if @election.questions.any? %>
        <h3>Questions (<%= @election.questions.count %>)</h3>
          <ul class="lists">
            <%= render @election.questions %>
          </ul>
      <% end %>
    </aside>
</div>