<% provide(:title, @election.name) %>
<div class="row">
	<h1>Election: <%= @election.name %></h1>

	<%= render partial: 'election_info', locals: {election: @election} %>
	<div class="span4 center">
		<p class="center"><big><b>Active Votes by their Ballot Serial Number</b></big></p>
		<hr>
		<%= render @votes %>
	</div>
	<%= render partial: 'election_choices', locals: {choices: @election.choices} %>
</div>