<% provide(:title, 'Enter your SVC') %>
<h1>Enter your SVC THIS IS NEW</h1>

<%= form_for :valid_svc, url: enter_question_valid_svcs_path(@question), html: { autocomplete: :off } do |f| %>

	<%= f.label :valid_svc %>
	<%= f.text_field :valid_svc, placeholder: "Valid SVC" %>

<br>

	<%= f.submit "Enter", class: "btn btn-large btn-primary" %>

<% end %>