<% provide(:title, "View vote") %>
<h1>View vote</h1>

<%= render partial: 'elections/election_info', locals: {election: @vote.election} %>

<div class="span6">
	<% if @vote %>
		<big><b><div class="center">BSN: <%= @vote.id %></div></b></big>
		<ul class="lists">
		<% unless @preferences.any? %>
			<li>This vote has no recorded preferences.</li>
		<% else %>
			<%= render @preferences %>
		<% end %>
		</ul>
	<% else %>
	<p> We could not find this vote </p>
	<% end %>
</div>