<div class="span4">
	<%= render partial: 'election_info', locals: {election: @valid_svc.election} %>
</div>


<div class="span3">
	<big><b>Active Vote</b></big>
	<% if @active_vote %>
		<% unless @active_preferences.any? %>
			This vote is active, but has no recorded preferences.
		<% else %>
			<ul class="lists">
				<%= render @active_preferences %>
			</ul>
		<% end %>
	<% else %>
	<p> There is no active vote for this SVC </p>
	<% end %>
</div>

<div class="span4">
	<big><b>BSNs associated with this SVC:</b></big>
	<br>
	<ul class="lists">
	<% if @votes.any? %>
		<% @votes.each_with_index do |vote, index| %>
			<%= render partial: 'vote_id', locals: {vote: vote} %>
		<% end %>
	<% else %>
		<li> There are no BSNs associated with this SVC.</li>
	<% end %>
	<li> <%= link_to "Vote!", vote_path(@valid_svc.svc), class: "btn btn-large btn-success btn-adjusted-block" %> </li>
	</ul>
</div>
